Flask==3.0.0
flask-cors==4.0.0
flask-limiter==3.5.0
moviepy==1.0.3
pydub==0.25.1
requests==2.31.0
deep-translator==1.11.4
Pillow==9.5.0
proglog==0.1.10
decorator==4.4.2
gunicorn
numpy
google-api-python-client
google-auth-oauthlib
